.queue {
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px 30px 30px 30px;

    .row {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        display: grid;
        height: 80px;
        grid-template-columns: 70px 1fr;
        border-bottom: 1px solid #EEE;

        .media_cover img {
            height: 60px;
            width: 60px;
            align-self: center;
            margin-right: 10px;
        }

        li {
            height: 80px;
            display: flex;
            justify-content: start;
            box-sizing: border-box;
            padding: 10px 0;
        }

        span {
            line-height: 35px;
            vertical-align: middle;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .media_detail {
            display: inline-grid;
        }
    }
}
