table {
        width: 100%;
    }

thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 30px;

    /*text-align: left;*/
}

tbody {
    height: 100%;
    overflow-y: auto;
}

thead {
    /* fallback */
}


tbody td, thead th {
    width: 25%;
    float: left;
}



.queue {
  .table{
      margin-bottom: 20px;
      width: 100%;
      max-width: 100%;
      text-align: left;
      border-collapse: collapse;
  }

  .table tr{
      line-height: 1.5;
      border-bottom: 1px solid #ddd;
  }

  .table thead{
      display: block;
      vertical-align: bottom;
  }

  .table td,
  .table th{
      padding: 8px;
  }

  .table tbody tr:hover{
      background-color: #fafafa;
      cursor: pointer;
  }

  .table tbody tr.success{
      background-color: #eee;
  }
}
