/* fonts */
@font-face {
  font-family: "Roboto Thin";
  src: url("../public/fonts/Roboto/Roboto-Thin.ttf");
}

body {
  overflow: hidden;
}
.main-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.app-title-bar {
  -webkit-app-region: drag;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  padding: 0;
  margin: 0;
}

.app-body {
  margin-top: 100px;
  width: 100%;
  height: 100%; 
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
}

/* player controls */
.core-control-panel {
  height: 100px;
  line-height: 100px;
  vertical-align: middle;
}

.player-controls {
    width: 100%;
    display: table;
    margin: 0;
    padding-left: 0;
}

.player-controls .control-btn {
    display: table-cell;
    padding: 0;
    list-style: none;
    width: 36px;
    line-height: 36px;
    vertical-align: middle;
    text-align: center;
}

.player-controls .control-btn:hover {
    cursor: pointer;
    background-color: #eee;
}

.player-controls .control-btn:active {
    background-color: #ddd;
}

table {
        width: 100%;
    }

thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 30px;

    /*text-align: left;*/
}

tbody {
    height: 100%;
    overflow-y: auto;
}

thead {
    /* fallback */
}


tbody td, thead th {
    width: 25%;
    float: left;
}

/* player progress */
.progress-bar-container {
  display: inline-block;
  width: 100%;
}

.player-progress {
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
    height: 9px;
    border-radius: 4px; 
}

.player-progress:hover {
    cursor: pointer;
}

.player-progress .progress-bar {
    -webkit-transition: width 300ms ease;
    -o-transition: width 300ms ease;
    transition: width 300ms ease;
}

/* play duration */
.player-duration {
    display: inline-block;
    width: 100%;
    font-family: "Roboto Thin";
    font-size: 14px;
    color: #A1A1A1;
}
