/* fonts */
@font-face {
  font-family: "Roboto Thin";
  src: url("../public/fonts/Roboto/Roboto-Thin.ttf");
}

/* player controls */
.core-control-panel {
  height: 100px;
  line-height: 100px;
  vertical-align: middle;
}

.player-controls {
    display: inline-block;
    margin: 0;
}

.player-controls .control-btn {
    display: inline-block;
    padding: 0;
    list-style: none;
    width: 36px;
    line-height: 36px;
    vertical-align: middle;
    text-align: center;
}

.player-controls .control-btn:hover {
    cursor: pointer;
    background-color: #eee;
}

.player-controls .control-btn:active {
    background-color: #ddd;
}

/* player progress */
.progress-bar-container {
  display: inline-block;
  width: 100%;
}

.player-progress {
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
    height: 9px;
    border-radius: 4px; 
}

.player-progress:hover {
    cursor: pointer;
}

.player-progress .progress-bar {
    -webkit-transition: width 300ms ease;
    -o-transition: width 300ms ease;
    transition: width 300ms ease;
}

/* play duration */
.player-duration {
    display: inline-block;
    width: 100%;
    font-family: "Roboto Thin";
    font-size: 14px;
    color: #A1A1A1;
}
